@page
@model LoginModel
<div class="auth-container">

    <div class="auth-card">

        <h2 class="auth-title">
            ログイン
        </h2>

        <form method="post">

            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <div class="mb-3">

                <label asp-for="Input.Email"></label>

                <input asp-for="Input.Email"
                       class="form-control"
                       placeholder="メールアドレスを入力" />

            </div>

            <div class="mb-3">

                <label asp-for="Input.Password"></label>

                <input asp-for="Input.Password"
                       class="form-control"
                       placeholder="パスワードを入力" />

            </div>

            <button type="submit"
                    class="btn btn-green">

                ログイン

            </button>

        </form>

    </div>

</div>